
body {
	background: #454545;
	font-family: 'Roboto', sans-serif;
	color: white;
}
footer {
	position: relative;
	text-align: center;
	color: #fff;
}
.container {
    width: 85%;
    margin: auto;
    padding: 44px 10px
}
.col-one {
    display: inline-block;
    /*margin: 0 auto;*/
    padding: 5px;
    
}
.col-two {
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    
    float: right;
}

#landing{
	height: 100vh;
	position: relative;
	background: url('../../img/camada_landing_1.png') center center/cover no-repeat #464646;
	text-align: center;
	/*transition: background 1s linear;*/
}
#landing h1, h4{	
	text-align: center;
	font-weight: bold;
  	line-height: 1.2;
}
#landing h1{
    margin-top: 0;
    margin-bottom: 5px;
    color: #546130;
    font-size: 60px;
}

#landing h4{
  	color: #2d3b09;
  	margin-top: 5px;
  	font-size: 24px;
}
.footer-mask{
	background-color: #343434b8;
	width: 100%;
	height: 90px;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}
.arrow, .dot{
	cursor: pointer;
}
.dot-row{
	height: 100%;
  	position: relative;
}
.dot-container{
	position: absolute;
	top: 50%;
	width: 100%;
	margin: 0 auto;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}

.dot {
	width: 34px;
  	height: 34px;
	background-color: #ffffff;
	border-radius: 50%;
	border-color: #000;
	display: inline-block;
	border:8px solid #343434;    
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	margin: 0 5px;
}
.dot.active{
	background-color: #546130;
	border-color:#ffffff; 
}
#slider{
	position: relative;
	background-color: rgb(69, 69, 69);
	height: 500px;
}

#slider .container{
	text-align: center;
	position: relative;
    /*height: 400px;*/
}
#slider-container{
	min-width: 950px;
    max-width: 1050px;
    margin:0 auto;
    position: relative;
}

[id^=slide_] {
	width: 33%;
    display: none;
}
[id^=slide_].active {
	display: inline-block;
}

[id^=slide_] img{
	width: 300px;
	height: 200px;
	z-index: 24;
	border: 10px solid #6d6d6d;
}

[id^=slide_] .text-container{
	width: 85%;
	margin: 0 auto;
}
[id^=slide_] .text-container p{
	overflow: scroll;
	height: 115px;
	font-size: 16px;
    line-height: 1.2em;
}

[id^=slide_] .text-container h2{
	margin: 10px 0px;
	text-transform: uppercase;
}
#slider .arrow-slider{
    position: absolute;
    top: 33%;
    cursor: pointer;
}
#arrow_slider-left{
	left: -50px;
}
#arrow_slider-right{
	right: -50px;
}

#description{
	background-color: rgb(111, 111, 111);
	height: 500px;
}

#description .col-one{
	/*text-align: center;*/
	/*width: 45%;*/
	/*width: 579px;*/
	padding: 0;
}
#description .col-two{
	padding: 0;
	width: 50%;
}
#description img{
	border: 20px solid #343434;
    border-radius: 50%;
    height: 368px;
}

#description .col-two p{
    font-size: .9em;
    line-height: 1.3em;
}

#accordeon{
	position: relative;
	min-height: 500px;
	max-height: 630px;
	background-color: #bebebe;
}
#accordeon .all-close{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#accordeon .accordion-button{
	background-color: #6e6e6e;
    padding: 20px;
    height: 30px;
    cursor: pointer;
    margin-top: 1px;
}
.default-border{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.radius-border{
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#accordeon .accordion-button > .col-one {
    font-weight: 800;
}
#accordeon .accordion-button:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#accordeon .accordion-button:nth-child(7){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#accordeon .accordion-button.active{
	background-color: #ffffff;
	color: #6e6e6e;
}

#accordeon .accordion-button > .col-two {
    background: url(../../img/arrow_down_accordion.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 0px;
}

#accordeon .accordion-button.active > .col-two {
    background: url(../../img/arrow_up_accordion.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#accordeon .panel {
	display: none;
	/*opacity: 0;*/
	background: #ffffff;
	padding: 0px 10px;
	position: relative;
	margin-top: -1px;
}
#accordeon .accordion-button.active + .panel{
	display: block;
}
#accordeon .panel .col-two{
	padding-left: 20px;
	position: absolute;
	top: 30%;
	width: 60%;
	float: none;
	color: #6e6e6e;
}

#form{
	height: 500px;
	background-color: #454545;
}
#form .input-container {
	color: #333333;
    height: 50px;
    border-radius: 10px;
    background: #bebebe;
    outline: none;
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 20px;
}
#form .input-container > label{
	margin-left: 20px;
	font-weight: bold;
	vertical-align: middle;
}
#form .input-style{
    border: 0;
    height: 30px;
    /*width: 70%;*/
    margin: 9px;
    background-color: #bebebe;
}
#form .input-container:nth-child(2), #form .input-container:nth-child(3){
	display: inline-block;
	width: 46.1594%;
}
#form .input-container:nth-child(3){
	float: right;
}

#mensagem{
    margin:0 !important;
    padding: 0 !important;
    margin-left: 10px !important;
    height: 100px !important;
    width: 70%;
}
#form .input-container:nth-child(4) > label{
	vertical-align: top;
}
#form .input-container:nth-child(4){ 
	height: 200px;
	padding-top: 18px;
}


.button-container{
	text-align:center;
}
.button-form {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:5px;
	border:1px solid #ffffff;
	/*display:inline-block;*/
	cursor:pointer;
	color:#050505;
	font-size:15px;
	font-weight:bold;
	padding:14px 23px;
	text-decoration:none;
	margin: 0 auto;
}
.button-form:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
}
.button-form:active {
	position:relative;
	top:1px;
}

footer .footer-mask{
	position: relative;
}
footer .footer-mask > p{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
@media only screen and (max-width: 767px) {
	#landing .container{
		padding-top: 15px;
		height: 300px;
		background: url(../../img/camada_landing_1.png)center 125px/cover no-repeat #464646;
	}
	#landing {
		background: none;
		height: auto;
	}
	#landing h1, #landing h4{
		margin-top: 0;
		padding-top: 0px;
		text-align: center;
		font-weight: 500;
		color: rgb(255, 255, 255);
	}
	#landing h1{
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.2em;
		font-size: 30px;
		margin-bottom: 10px;
	}
	#landing h4{
    	width: 80%;
    	font-size: 16px;
		text-align: center;
		margin: 0 auto;
	}
	#landing_arrow{
		margin-top: 40px;
	}
	#landing .footer-mask{
	    bottom: 0;
	    height: 40px;
	}
	#landing .footer-mask .dot{
		height: 22px;
		width: 22px;
		border: 4px solid #343434;
		margin: 0px 10px;
	}
	#landing .footer-mask .dot.active{
		border: 4px solid rgb(255, 255, 255);
	}
	#slider{
		height:480px;
	}
	#slider .container{
		min-width: 95%;
		max-width: 95%;
    	height: 460px;
    	padding: 20px 10px;
	}
	#slider-container{
	    width: 100%;
    	height: 440px;
	}
	#slider .container .arrow-slider{
		top: 84%;
	}
	#arrow_slider-left{
		left:33%;
	}
	#arrow_slider-right{
		right:33%;
	}
	
	#slider .single-slider-container{
		width: 100%
	}
	#slider .single-slider-container .text-container{
		width: 100%
	}
	#slider .single-slider-container p{
		width: 95%;
	    margin: 0 auto;
	    margin-top: 10px;
	}
	.container{
		width: 95%;
	}
	.col-one {
	    display: block;    
	}
	.col-two {
	    display: -block;
	    float: none;
	}
	#description .col-one {
	    width: 95%;
	    text-align: center;
	}
	#description .col-one img {
	    width: 87%;
	}
	#description .col-two {
	    width: 95%;
	    text-align: center;
	}
	#description .col-two > p:nth-child(3){
		font-weight: bold;
		font-size: 1em;
	}
	#accordeon{
		height: inherit;
	}
	#accordeon .panel .col-two{
		display: block;
	    position: relative;
	    padding: 10px;
	    width: 90%;
	    text-align: justify;
	}
	#accordeon .panel .col-one{
	    text-align: center;
	}
	#accordeon .accordion-button>.col-one{
	    position: relative;
	    top: 20%;
	    transform: translateY(-50%);
	    width: 85%;
	    display: inline-block;
	}
	#form .input-container:nth-child(2), #form .input-container:nth-child(3){
		display: block;
		width: 100%;
	}
	#form .input-container:nth-child(4){
		margin-top: 90px;
	}
	#form .input-style{
		    max-width: 180px;
	}
	#mensagem{
		width: 50%;
	}

}
















